body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #3c4155;
}

#piano {
    position: relative;
    display: flex;
}

.key {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.white-keys {
    display: flex;
    gap: 3px;
}

.white {
    height: 180px;
    width: 60px;
    padding-bottom: 1em;
    background: #f3faff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white:hover,
.black:hover {
    background: #587af4;
    transition: 0.25s;
}

.black-keys {
    width: 100%;
    position: absolute;
    display: flex;
}

.black {
    height: 120px;
    width: 40px;
    color: #f3faff;
    background: #272c3e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #3c4155;
    border-left: 3px solid #3c4155;
    border-right: 3px solid #3c4155;
}

.pressed {
    background: #587af4;
}

#cs {
    position: relative;
    left: 34px;
}

#ef {
    position: relative;
    left: 60px;
}

#fs {
    position: relative;
    left: 130px;
}

#af {
    position: relative;
    left: 153px;
}

#bf {
    position: relative;
    left: 175px;
}
